* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.themeImg {
    width: 100%;
    height: 900px;
    position: relative;
    background-image: url('manufaximg/asset 1.png');
    background-position: center center;
    background-size: cover;
    filter: brightness(0.5);
}

.apGroup i {
    font-size: 15px;
    color: #2ac5f4;
    margin-right: 5px;
}

.afu {
    display: block;
    color: white;
    font-family: sans-serif;
    font-size: 16px;
    text-decoration: none;
}

.sehre a {
    font-family: sans-serif;
    color: white;
    text-decoration: none;
}
.sehre a:hover{
    background-color: black;
}
.navIga nav a {
    font-family: sans-serif;
    text-decoration: none;
    color: #2ac5f4;
}

.emailtxt .emailposti {
    text-decoration: none;
    color: #2ac5f4;
}

.fimg {
    width: 15px;
    height: 18px;
}

.birdimg {
    width: 18px;
    height: 18px;
}

.vimg {
    width: 16px;
    height: 16px;
    position: relative;
    bottom: 2px;
}

.ytimg {
    width: 20px;
    height: 14px;
    position: relative;
    bottom: 1px;
}

.pimg {
    width: 18px;
    height: 18px;
}

.camimg {
    width: 17px;
    height: 17px;
}

.seeHr a {
    text-decoration: none;
    font-family: sans-serif;
    color: white;
}

.seeHr:hover {
    background-color: black;
}

.oRea a:hover {
    background-color: black;
}

.aInformation .HomeColor {
    color: #2ac5f4;
}
.aahtxt:hover{
    color: #888888;
}
.weektxt:hover{
    color: #888888;
}
.navIga .NavigHomeColor{
    color: white;
}
.navIga nav a:hover{
    color: white;
}
.recoContentgr .acontent:hover{
    color: #2ac5f4;
}
.recoContentgr .aahtxtend:hover{
    color: #2ac5f4;
}
.recoContentgr .afu:hover{
    color: #2ac5f4;
}
.phonetxt .phonesnumber:hover{
    color: white;
}
.phonetxt .phonesNum:hover{
    color: white;
}
.emailtxt .emailposti:hover{
    color: white;
}
.zem a:hover{
    color:#888888 ;            
}
.phonetxt .phonesNum{
    display: block;
}
.aInformation a:hover{
    color:#2ac5f4 ;
}
@media screen and (min-width:768px) {
    .apandHyperlink {
        font-family: sans-serif;
        display: flex;
        width: 100%;
        background-color: #272727;
        align-items: center;
        justify-content: space-between;
        padding: 13px 72px;
        box-sizing: border-box;
    }

    #menu-control {
        display: none;
    }

    .apandHyperlink span {
        font-style: normal;
    }

    .phoneTxt {
        text-decoration: none;
        color: white;
    }

    .phoneGroup {
        text-decoration: none;
    }

    address {
        display: flex;
    }

    .apandHyperlink a {
        text-decoration: none;
    }

    .addressImg {
        width: 16px;
        height: 18px;
    }

    .addressTxt {
        font-size: 16px;
        font-family: sans-serif;
        color: white;
    }

    .addressGroup {
        padding: 0px 25px;
    }

    .apandHyperlink nav a {
        padding: 0 5px;
    }

    .manufaxImg {
        position: relative;
        width: 100%;
    }

    .allManuContent {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .aInformation a {
        color: white;
        text-decoration: white;
        font-family: sans-serif;
        font-size: 14px;
        font-weight: 600;
        padding: 0px 16px;
        letter-spacing: 0.7px;
    }

    .aInformation {
        margin-left: 570px;
        margin-top: -45px;
    }

    .theme {
        margin-top: 60px;
        margin-left: 90px;
        width: 30%;
    }

    .conGroup h2 {
        font-size: 110px;
        letter-spacing: 5.6px;
        font-family: sans-serif;
        color: white;
        margin-top: 22%;
        width: 100%;
        margin: auto;
        text-align: center;
        padding-top: 300px;
    }

    .conGroup h3 {
        font-size: 30px;
        letter-spacing: 0.2px;
        font-family: sans-serif;
        color: white;
        font-weight: 100;
        margin-top: 18px;
        text-align: center;
    }

    .seeHr {
        width: 284px;
        background-color: #2ac5f4;
        font-size: 14px;
        padding: 20px 0px;
        border-radius: 3px;
        margin: 50px auto 0 auto;
        text-align: center;
    }

    .ourS {
        width: 100%;
        text-align: center;
        padding: 0 6%;
        box-sizing: border-box;
    }

    .ourGroup {
        display: flex;
        flex-wrap: wrap;
    }

    .ourContent {
        display: flex;
        margin-bottom: 10%;
        width: 33.33%;
    }

    .ourSTxtgroup {
        text-align: left;
        padding: 0 3%;
        font-family: sans-serif;
    }

    .ourSTxtgroup h4 {
        font-size: 18px;
    }

    .ourSTxtgroup p {
        font-size: 18px;
        margin-top: 3%;
        color: #888888;
        line-height: 34px;
    }

    .totalourGroup {
        margin-top: 10%;
    }

    .ourS h3 {
        font-size: 30px;
        font-family: sans-serif;
        margin-top: 9%;
        margin-bottom: -3%;
        position: relative;
    }

    .ourS i {
        font-size: 70px;
        color: #2ac5f4;
        margin-right: 3%;
    }

    .ourS h3::before {
        content: '';
        position: absolute;
        right: 0;
        left: 0;
        margin: auto;
        bottom: 68px;
        width: 66px;
        height: 2px;
        background-color: #2ac5f4;
    }

    .ourHistory {
        height: 690px;
        background-color: #f6f6f7;
        display: flex;
        align-items: center;
        margin: auto;
        width: 100%;
        padding: 0 5%;
        box-sizing: border-box;
    }

    .ohTxt h3 {
        font-weight: 700;
        font-size: 30px;
        font-family: sans-serif;
        letter-spacing: 1.8px;
    }

    .ohTxt h4 {
        font-size: 18px;
        letter-spacing: 1.5px;
        font-family: sans-serif;
        font-weight: 100;
        color: #333333;
        line-height: 34px;
        position: relative;
    }

    .ohTxt h4::before {
        content: '';
        position: absolute;
        width: 66px;
        height: 2px;
        background-color: #2ac5f4;
        bottom: 180px;
    }

    .ohTxt p {
        font-size: 16.5px;
        letter-spacing: 0.3px;
        font-family: sans-serif;
        font-weight: 100;
        color: #888888;
        line-height: 30px;
        margin: 25px 0;
    }

    .osImg {
        width: 50%;
        order: 3;
    }

    .osImg img {
        width: 100%;
    }

    .ohTxtGroup {
        width: 50%;
        line-height: 4.5;
        margin-bottom: 20px;
        margin-right: 4%;
    }

    .oRea a {
        border-radius: 5px;
        padding: 22px 37px;
        font-size: 14px;
        font-family: sans-serif;
        color: white;
        text-decoration: none;
        background-color: #2ac5f4;
    }

    .imgfullCom {
        background-image: url('manufaximg/asset 8.png');
        width: 100%;
        height: 358px;
        background-size: cover;
        background-position: center;
        filter: brightness(0.5);
    }

    .imgfullCul {
        background-image: url('manufaximg/asset 9.png');
        width: 100%;
        height: 358px;
        background-size: cover;
        background-position: center;
        filter: brightness(0.5);
    }

    .imgfullcDa {
        background-image: url('manufaximg/asset 10.png');
        width: 100%;
        height: 358px;
        background-size: cover;
        background-position: center;
        filter: brightness(0.5);
    }

    .imgfullEd {
        background-image: url('manufaximg/asset 11.png');
        width: 100%;
        height: 358px;
        background-size: cover;
        background-position: center;
        filter: brightness(0.5);
    }

    .imgfullGo {
        background-image: url('manufaximg/asset 12.png');
        width: 100%;
        height: 358px;
        background-size: cover;
        background-position: center;
        filter: brightness(0.5);
    }

    .imgfullHe {
        background-image: url('manufaximg/asset 13.png');
        width: 100%;
        height: 358px;
        background-size: cover;
        background-position: center;
        filter: brightness(0.5);
    }

    .imgfullMa {
        background-image: url('manufaximg/asset 14.png');
        width: 100%;
        height: 358px;
        background-size: cover;
        background-position: center;
        filter: brightness(0.5);
    }

    .imgfullWa {
        background-image: url('manufaximg/asset 15.png');
        width: 100%;
        height: 358px;
        background-size: cover;
        background-position: center;
        filter: brightness(0.5);
    }

    .imgfullsc {
        display: flex;
    }

    .imgfullsg {
        display: flex;
    }

    .imgfullComgr {
        width: 100%;
        height: 358px;
        text-align: center;
    }

    .imgfullCulgr {
        width: 100%;
        height: 358px;
        text-align: center;
    }

    .imgfullcDagr {
        width: 100%;
        height: 358px;
        text-align: center;
    }

    .imgfullEdgr {
        width: 100%;
        height: 358px;
        text-align: center;
    }

    .imgfullComtxt {
        font-family: sans-serif;
        position: relative;
        color: white;
        margin-top: -200px;
        z-index: 9;
    }

    .imgfullCultxt {
        font-family: sans-serif;
        position: relative;
        color: white;
        margin-top: -200px;
        z-index: 9;
    }

    .imgfullcDatxt {
        font-family: sans-serif;
        position: relative;
        color: white;
        margin-top: -200px;
        z-index: 9;
    }

    .imgfullEdtxt {
        font-family: sans-serif;
        position: relative;
        color: white;
        margin-top: -200px;
        z-index: 9;
    }

    .imgfullGogr {
        width: 100%;
        height: 358px;
        text-align: center;
    }

    .imgfullGotxt {
        font-family: sans-serif;
        position: relative;
        color: white;
        margin-top: -200px;
        z-index: 9;
    }

    .imgfullHegr {
        width: 100%;
        height: 358px;
        text-align: center;
    }

    .imgfullHetxt {
        font-family: sans-serif;
        position: relative;
        color: white;
        margin-top: -200px;
        z-index: 9;
    }

    .imgfullMagr {
        width: 100%;
        height: 358px;
        text-align: center;
    }

    .imgfullMatxt {
        font-family: sans-serif;
        position: relative;
        color: white;
        margin-top: -200px;
        z-index: 9;
    }

    .imgfullWagr {
        width: 100%;
        height: 358px;
        text-align: center;
    }

    .imgfullWatxt {
        font-family: sans-serif;
        position: relative;
        color: white;
        margin-top: -200px;
        z-index: 9;
    }

    .ptxt p {
        white-space: nowrap;
    }

    .hreadtxt a {
        text-decoration: none;
        display: inline;
    }

    .Contimg .posttxt {
        display: inline;
        color: #888888;
        font-size: 14px;
        font-family: sans-serif;
    }

    .rnGroup {
        width: 100%;
        margin: auto;
        text-align: center;
        margin-top: 112px;
        position: relative;
        bottom: -39px;
        padding: 0 3% 10% 3%;
        box-sizing: border-box;
    }

    .rnContimg {
        display: flex;
        width: 100%;
        height: 100%;
    }

    .rnContimg .Contimg img {
        width: 100%;
        height: 100%;
    }

    .Contimg {
        padding: 0px 15px;
        width: 100%;
        height: 100%;
    }

    .rntxtgr {
        text-align: left;
        margin-top: 37px;
    }

    .rnGroup .rntheme {
        font-size: 30px;
        font-family: sans-serif;
        letter-spacing: 1.8px;
        margin: 60px 0;
        position: relative;
    }

    .rnGroup .rntheme::before {
        content: '';
        position: absolute;
        width: 66px;
        height: 2px;
        background-color: #2ac5f4;
        left: 0;
        right: 0;
        margin: auto;
        bottom: 70px;
    }

    .hresThem {
        font-size: 18px;
        letter-spacing: 1.5px;
        font-family: sans-serif;
        text-decoration: none;
        color: #333333;
    }

    .aahtxt {
        text-decoration: none;
        color: #2ac5f4;
        font-family: sans-serif;
        font-size: 14px;
    }

    .weektxt {
        text-decoration: none;
        color: #2ac5f4;
        font-family: sans-serif;
        font-size: 14px;
    }

    .rncontrnt {
        width: 98%;
        font-size: 17px;
        font-family: sans-serif;
        color: #888888;
        margin-top: 17px;
    }

    .postedgroup {
        margin-top: 28px;
    }

    .sehre a {
        font-size: 14px;
        background-color: #2ac5f4;
        padding: 22px 37px;
    }

    .sehre {
        margin-top: 100px;
    }

    .manufaxNact {
        display: flex;
        width: 100%;
        background-color: #3b3d42;
        align-items: center;
        padding: 9% 5% 7% 5%;
        box-sizing: border-box;
    }

    .manufaximgend img {
        width: 220px;
    }

    .manufaxCtt {
        width: 25%;
    }

    .manufaxCtt p {
        line-height: 26px;
        color: #888888;
        font-family: sans-serif;
        width: 100%;
        padding: 0 50px 0 0;
        font-size: 16px;
        margin-top: 20px;
    }

    .navIga {
        line-height: 2;
        width: 25%;
        margin-bottom: 21px;
        margin-left: 40px;
    }

    .navIga nav {
        width: 5%;
        margin-top: 20px;
    }

    .navIga h3 {
        font-family: sans-serif;
        color: white;
    }

    .recotxt {
        letter-spacing: 1.08px;
        font-size: 18px;
        font-family: sans-serif;
        color: white;
    }

    .recos {
        width: 25%;
        margin-bottom: 70px;
    }

    .recos .acontent {
        text-decoration: none;
        color: white;
        font-family: sans-serif;
        font-size: 16px;
        display: block;
    }

    .recos .aahtxtend {
        white-space: nowrap;
        color: #888888;
        text-decoration: none;
        font-family: sans-serif;
        font-size: 14px;
    }

    .recos .posttxtend {
        display: inline-block;
        color: #888888;
        font-family: sans-serif;
        font-size: 14px;
    }

    .afu {
        margin-top: 10px;
    }

    .recoContentgr {
        line-height: 1.5;
        margin-top: 30px;
    }

    .contxtgr {
        font-style: none;
        line-height: 1.5;
        width: 25%;
        margin: 0 5%;
        margin-bottom: 65px;
    }

    .contxtgr .contxt {
        font-size: 18px;
        font-family: sans-serif;
        color: white;
    }

    .contxtgr .email {
        display: inline;
        color: #888888;
    }

    .contxtgr .phonetxt a {
        text-decoration: none;
        color: #2ac5f4;
        font-family: sans-serif;
    }

    .contxtgr .phones {
        display: inline;
        color: #888888;
        font-family: sans-serif;
    }

    .contxtgr .addresstxt {
        color: #888888;
        font-family: sans-serif;
        font-size: 16px;
        width: 85%;
    }

    .contxtgr .phonetxt .txt {
        color: #888888;
        display: inline;
    }

    .contxtgr .phonetxt {
        margin-top: 10px;
    }
    .emailtxt {
        font-size: 16px;
        font-family: sans-serif;
        margin-top: 10px;
    }

    .conaddemail {
        margin-top: 25px;
    }

    footer {
        display: flex;
        justify-content: space-between;
        background-color: #272727;
        padding: 15px 79px;
        box-sizing: border-box;
    }

    .zem {
        font-family: sans-serif;
        color: #888888;
        font-size: 14px;
    }

    .zem a {
        text-decoration: none;
        color: #398ffc;
        font-family: sans-serif;
    }

    .navend a {
        padding: 0px 6px;
    }
}

@media screen and (max-width: 767px) {
    input:checked~label {
        color: aqua;
    }

    #menu-control {
        position: absolute;
        left: -20px;
    }

    .aInformation {
        display: none;
        position: absolute;
        left: 0;
        top: 125px;
        width: 100%;
    }

    .ourS i {
        font-size: 40px;
        color: #2ac5f4;
        margin: 20px 0;
    }

    .aInformation a {
        display: block;
        background-color: rgb(104, 104, 128);
        color: white;
        padding: 10px 20px;
        text-decoration: none;
        border: 1px solid black;
    }

    input:checked~.aInformation {
        display: block;
    }

    .menu-btn {
        position: relative;
        display: block;
        width: 40px;
        height: 40px;
    }

    .menu-btn span {
        position: absolute;
        height: 4px;
        width: 25px;
        background-color: #ffffff;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
    }

    .menu-btn span:nth-child(1) {
        transform: translateY(-8px);
    }

    .menu-btn span:nth-child(3) {
        transform: translateY(8px);
    }

    .apandHyperlink {
        width: 100%;
        margin: auto;
        text-align: center;
        flex-direction: column;
        justify-content: none;
        background-color: #272727;
        padding: 30px 0px;
        line-height: 2.5;
        position: relative;
    }

    .apandHyperlink a {
        text-decoration: none;
    }

    .apandHyperlink nav a {
        padding: 0 5px;
    }

    .addressImg {
        width: 16px;
        height: 18px;
        position: relative;
        right: 3px;
        top: 2px;
        right: 9px;
    }

    .phoneGroup {
        text-decoration: none;
        position: relative;
        top: 4px;
    }

    .apandHyperlink span {
        font-style: normal;
    }

    .addressTxt {
        font-size: 16px;
        font-family: sans-serif;
        color: white;
    }

    .phoneTxt {
        text-decoration: none;
        color: white;
        position: relative;
        bottom: 7px;
    }

    .manufaxImg {
        position: relative;
        width: 100%;
    }

    .themeImg {
        width: 100%;
        height: 670px;
        position: relative;
        background-image: url('manufaximg/asset 1.png');
        background-position: center center;
        background-size: cover;
        filter: brightness(0.5);
    }

    .conGroup {
        width: 100%;
        text-align: center;
        z-index: 5;
    }

    .conGroup h2 {
        font-size: 24px;
        width: 100%;
        letter-spacing: 5.6px;
        font-family: sans-serif;
        color: white;
        margin-top: 140px;
    }

    .conGroup h3 {
        width: 82%;
        font-size: 18px;
        letter-spacing: 0.2px;
        font-family: sans-serif;
        color: white;
        font-weight: 100;
        bottom: 100;
        margin: auto;
        padding-top: 30px;
    }

    .theme {
        margin: auto;
        text-align: center;
        padding-top: 20px;
    }

    .allManuContent {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .seeHr {
        width: 284px;
        margin: 30px auto 0px auto;
        background-color: #2ac5f4;
        font-size: 14px;
        padding: 20px 0px;
        border-radius: 3px;
    }

    .ourContent {
        width: 100%;
        text-align: center;
        font-family: sans-serif;
        padding: 0px 1.06382978723404%;
        box-sizing: border-box;
    }

    .osImg img {
        width: 100%;
    }

    .osImg {
        margin-top: 100px;
        padding: 0 3.125%;
    }

    .ohTxt {
        padding: 0 3.125%;
    }

    .ohTxtp p {
        margin-top: 30px;
        font-size: 16px;
        line-height: 25px;
        font-family: sans-serif;
    }

    .ourTxt h4 {
        font-size: 14px;
        font-family: sans-serif;
        line-height: 22px;
        letter-spacing: 1.08px;
        color: #333333;
        margin-top: 30px;
    }

    .ohTxt h3 {
        font-size: 30px;
        font-family: sans-serif;
        margin-top: 90px;
        position: relative;

    }

    .ohTxt h3::before {
        content: '';
        position: absolute;
        width: 66px;
        height: 2px;
        background-color: #2ac5f4;
        bottom: 75px;
    }

    .oRea a {
        margin-top: 35px;
        display: inline-block;
        border-radius: 5px;
        padding: 22px 37px;
        font-size: 14px;
        font-family: sans-serif;
        color: white;
        text-decoration: none;
        background-color: #2ac5f4;
    }

    

    

    
    .zem {
        font-family: sans-serif;
        color: #888888;
        font-size: 14px;
        margin-left: 15%;
    }

    .zem a {
        text-decoration: none;
        color: #398ffc;
        font-family: sans-serif;
    }

    .navend {
        margin-top: 3%;
        margin-left: 30%;
    }

    .navend a {
        padding: 0px 6px;
        text-decoration: none;
    }

    .manufaxNact {
        width: 100%;
        background-color: #3b3d42;
        align-items: center;
        margin: auto;
        padding: 85px 0px
    }

    .manufaximgend img {
        width: 215px;
        position: relative;
        bottom: 15px;
    }

    .manufaxCtt p {
        line-height: 26px;
        color: #888888;
        font-family: sans-serif;
    }

    .navIga {
        width: 5%;
        line-height: 2;
    }

    .navIga nav {
        position: relative;
        top: 20px;
    }

    .navIga h3 {
        font-family: sans-serif;
        color: white;
        margin-top: 25px;
        margin-bottom: -10px;
    }

    .recotxt {
        letter-spacing: 1.08px;
        font-size: 18px;
        font-family: sans-serif;
        color: white;
        margin-bottom: 20px;
    }

    .recos {
        width: 73%;
        margin-top: 50px;
    }

    .recos .acontent {
        text-decoration: none;
        color: white;
        font-family: sans-serif;
        font-size: 16px;
        display: block;
    }

    .recos .aahtxtend {
        white-space: nowrap;
        color: #888888;
        text-decoration: none;
        font-family: sans-serif;
        font-size: 14px;
    }

    .recos .posttxtend {
        display: inline-block;
        color: #888888;
        font-family: sans-serif;
        font-size: 14px;
    }

    .afu {
        margin-top: 15px;
    }

    .recoContentgr {
        line-height: 1.5;
    }

    .contxtgr {
        width: 50%;
        font-style: none;
        line-height: 1.5;
        margin-top: 20px;
    }

    .contxtgr .contxt {
        font-size: 18px;
        font-family: sans-serif;
        color: white;
    }

    .contxtgr .email {
        display: inline;
        color: #888888;
    }

    .contxtgr .phonetxt a {
        text-decoration: none;
        color: #2ac5f4;
        font-family: sans-serif;
    }

    .contxtgr .phones {
        display: inline;
        color: #888888;
        font-family: sans-serif;
    }

    .contxtgr .addresstxt {
        color: #888888;
        font-family: sans-serif;
        font-size: 16px;
    }

    .contxtgr .phonetxt .txt {
        color: #888888;
        display: inline;
    }

    .contxtgr .phonetxt {
        position: relative;
        top: 20px;
    }
    .emailtxt {
        font-size: 16px;
        font-family: sans-serif;
        margin-top: 30px;
    }

    .conaddemail {
        margin-top: 26px;
    }

    
    .rntheme {
        font-size: 30px;
        font-family: sans-serif;
        letter-spacing: 1.8px;
        text-align: center;
        margin-top: 150px;
        position: relative;
        padding-bottom: 50px;
    }

    .rntheme::before {
        content: '';
        position: absolute;
        background-color: #2ac5f4;
        width: 66px;
        height: 2px;
        right: 0;
        left: 0;
        bottom: 120px;
        margin: 0 auto 0 auto;
    }

    .rntxtgr {
        padding: 0 3.125%;
        box-sizing: border-box;
    }

    .rntxtgr h4 {
        font-size: 18px;
        font-family: sans-serif;
        letter-spacing: 1.08px;
        color: #333333;
        margin-top: 25px;
    }

    .rntxtgr a {
        text-decoration: none;
    }

    .Contimg .posttxt {
        display: inline;
        color: #888888;
        font-size: 14px;
        font-family: sans-serif;
    }

    .aahtxt {
        text-decoration: none;
        color: #2ac5f4;
        font-family: sans-serif;
        font-size: 14px;
    }

    .weektxt {
        text-decoration: none;
        color: #2ac5f4;
        font-family: sans-serif;
        font-size: 14px;
    }

    .rncontrnt {
        font-family: sans-serif;
        line-height: 30px;
        font-size: 18px;
        color: #888888;
        margin-top: 10px;
    }
    .sehre a {
        background-color: #2ac5f4;
        padding: 22px 37px;
    }
    .sehre {
        width: 180px;
        text-align: center;
        margin: 30px auto 0px auto;
        font-size: 14px;
        border-radius: 3px;
        margin-bottom: 60px;
    }

    .sehre a:hover {
        background-color: black;
    }

    .manufaxNact {
        padding: 10% 3.125%;
        box-sizing: border-box;
    }
}